@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0; padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: NarutoFont;
    src: url('font-icon/njnaruto.ttf') format('truetype');
}

body {
    background-color: #151320;
    height: 100vh;
    display: grid;
    place-items: center center;
    font-family: 'Poppins', sans-serif;
}

h1 {
    margin: 25px;
    font-family: 'NarutoFont';
    color: white;
}


img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding: 20px;
    grid-gap: 40px;
}

.card {
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
}

.details {
    padding: 20px 10px;
}

.details > h4 {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}

.details > p {
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}
